.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
  }

.buttonWrap {
  text-align: center;
  padding: 2rem;
}

.card {
  height: 380px;
  width: 100%;
  cursor: pointer;
}