.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
}

.buttonWrap {
  text-align: center;
  padding: 2rem;
}

.userList {
    font-size: 24px;
    list-style: none;
    padding: 2rem;
    border: 2px solid #f300b4;
}